{% extends 'partials/members-base.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block content %}     
{{ form.media.css }}
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title font-size-20">
                        {% if edit %}
                        Edit Post
                        {% else %}
                        Add New Forum Post</h4>
                        {% endif %}
                    <hr>
                    {% comment %} <p class="card-title-desc">Parsley is a javascript form validation
                        library. It helps you provide your users with feedback on their form
                        submission before sending it to your server.</p> {% endcomment %}
                 
                        {% comment %} <form class="" action="#">
                         
                        {{ form.title }}

                        {{form.}}
                        <button class="btn btn-primary" type="submit" value = 'Save'> Add Project</button>
                        </form> {% endcomment %}

                        <form method='POST'>
                            {% csrf_token %}

                            {{form.errors}}
                            
                            {{ form.media }}
                            <div class="mb-3">
                                {{form.title}}
                            </div>
                            {{form.content.errors}}
                            {{form.content}}
                            {% comment %} {{form.as_p}}
     {% endcomment %}
                            <div>
                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                            </div>
                        </form>
                

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title ">Post</h4>
                        <div>
                            <button type="submit" class="btn btn-primary w-md">Publish Post</button>
                        </div>
                    </div>
                
                    <hr>
                    <div data-simplebar>
                        <p> Featured Image :  </p>
                        <div class="d-none" id='featured-box'>
                            <img id="featured-image" alt="your image" height="150px" width="150px" class="mb-2" />
                            <br>
                            <a class="text-danger remove-featured" href="#"> Remove featured image </a>
                        </div>
                        <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
                        <hr>
                       
                        <div>
                            <label class="form-label">Tags</label>
                            {{form.tag|as_crispy_field}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
{% endblock content %}	

{% block extra_javascript %}
{{ form.media.js }}
<script>
      //preview the image
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#featured-image').attr('src', e.target.result);
            $('#featured-box').removeClass('d-none')
          }
      
          reader.readAsDataURL(input.files[0]);
        }
      }
      
      $("#id_image").change(function() {
        readURL(this);
        
      });


      $(document).on('click', function(){
        $('.remove-featured').on('click', function(e){
            e.preventDefault();
            $('#featured-box').addClass('d-none')
            $('#id_image').val('')
        })
      })
</script>


{% endblock extra_javascript %}