{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title font-size-24">Add Member</h4>
                <p class="card-title-desc">Add a new user. <span class="text-danger"> User password is set by default to othe generated username. As users to change password on login </span>  </p>
                <hr>
                {{form.errors}}
                <form  method='POST' class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label">First name</label>
                                {{form.first_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Other names</label>
                                {{form.other_names|as_crispy_field}}
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom03" class="form-label">Email</label>
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="invalid-feedback mt-n2" id="feedbackinvalid">
                                "This email address belongs to another user"
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom04" class="form-label">Phone Number</label>
                                {{form.phone_number|as_crispy_field}}
                            </div>
                            <div class="invalid-feedback mt-n2" id="phone-invalid">
                                "This phone number is already registered"
                            </div>
                        </div>
                        
                    </div>
                    
                    <hr>
                    <div class="row">
                        <p class="font-size-17"> User Login Details </p>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name = 'username'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% comment %} <p class="font-size-20"> User Login Details </p> {% endcomment %}
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Password</label>
                                <input type="text" class="form-control" id="password"
                                >
                            </div>
                        </div>
                    </div>
                <hr>
                    <div>
                        <button class="btn btn-primary" id='submit' type="submit ">Add User </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->

</div>
{% endblock content %}


{% block extra_javascript %}


<script>
$(document).ready(function(){
    
   $('#othernames').on('change', function(){
    var othernames = $(this).val()
    var firstname = $('#firstname').val()
    if (firstname){
        $.ajax({
            type: 'POST',
            url:"{% url 'generate-username' %}",    
            headers : {'X-CSRFTOKEN': '{{ csrf_token }}' },
            data: {
                first_name:firstname,
                other_names : othernames
    
            },
    
            success: function(data){
                $('#username').val(data.username)
                $('#password').val(data.username)

               
                
            },
            error : function(xhr, errmsg, err){
                console.log(xhr.status + ' ' + xhr.responseText)
            }
        });
    }
    
    
   });

  
});
</script>



<script>
    $(document).ready(function(){
        
        $('#email').on('change', function(){
            $.ajax({
                type: 'POST',
                url:"{% url 'check_email' %}",    
                headers : {'X-CSRFTOKEN': '{{ csrf_token }}' },
                data: {
                    email:$(this).val()
                },
        
                success: function(data){
                    console.log(data)
                    if(data.exists){
                        $('#email').addClass('is-invalid')
                        $('#feedbackinvalid').css('display', 'block') 
                    }
                    else {
                        $('#email').addClass('is-valid')
                        $('#email').removeClass('is-invalid')
                        $('#feedbackinvalid').css('display', 'none') 
                        

                    };
                },
                   
                error : function(xhr, errmsg, err){
                    console.log(xhr.status + ' ' + xhr.responseText)
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function(){
        $('#phone_number').on('change', function(){
            $.ajax({
                type: 'POST',
                url:"{% url 'check_phone_number' %}",    
                headers : {'X-CSRFTOKEN': '{{ csrf_token }}' },
                data: {
                    phone_number:$(this).val()
                },
        
                success: function(data){
                    console.log(data)
                    if(data.exists){
                        $('#phone_number').addClass('is-invalid')
                        $('#phone-invalid').css('display', 'block') 
                        
                    }
                    else {
                        $('#phone_number').toggleClass('is-valid')
                        $('#phone_number').removeClass('is-invalid')
                        $('#phone-invalid').css('display', 'none') 
                        

                    };
                },
                   
                error : function(xhr, errmsg, err){
                    console.log('Somemethinf')
                    console.log(xhr.status + ' ' + xhr.responseText)
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function(){
    $('#phone_number').on('focus', function(){
        $('#phone_number').removeClass('is-valid')
        $('#phone_number').removeClass('is-invalid') 
        $('#phone-invalid').css('display', 'none') 

    })
});
</script>

<script>
    $(document).ready(function(){
    $('#email').on('focus', function(){
        $('#email').removeClass('is-valid')
        $('#email').removeClass('is-invalid') 
        $('#feedbackinvalid').css('display', 'none') 

    })
});
</script>






{% endblock extra_javascript%}



<div>
    <!-- center modal -->
    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Center modal</button>
    
    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Center modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Cras mattis consectetur purus sit amet fermentum.
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac
                        consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p class="mb-0">Aenean lacinia bibendum nulla sed consectetur.
                        Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec
                        ullamcorper nulla non metus auctor
                        fringilla.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</div>