{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title font-size-24">Add Member</h4>
                <p class="card-title-desc">Add a new user. <span class="text-danger"> User password is set by default to othe generated username. As users to change password on login </span>  </p>
                <hr>
                {{form.errors}}
                <form  method='POST' class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label">First name</label>
                                {{form.first_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Other names</label>
                                {{form.other_names|as_crispy_field}}
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom03" class="form-label">Email</label>
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="invalid-feedback mt-n2" id="feedbackinvalid">
                                "This email address belongs to another user"
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom04" class="form-label">Phone Number</label>
                                {{form.phone_number|as_crispy_field}}
                            </div>
                            <div class="invalid-feedback mt-n2" id="phone-invalid">
                                "This phone number is already registered"
                            </div>
                        </div>
                        
                    </div>
                    
                    <hr>
                    <p class="font-size-17"> Job Details </p>
                    <div class="row">
                      
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name = 'username'>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Password</label>
                                <input type="text" class="form-control" id="password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label">Region or Zone</label>
                                {{form.first_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Drilling License Number</label>
                                {{form.other_names|as_crispy_field}}
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                           
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label">Company Name</label>
                                {{form.first_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="validationCustom02" class="form-label">Field</label>
                                {{form.other_names|as_crispy_field}}
                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% comment %} <p class="font-size-20"> User Login Details </p> {% endcomment %}
                        
                    </div>
                <hr>
                    <div>
                        <button class="btn btn-primary add_user" id='submit' type="submit" disabled>Add User </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->

</div>
{% endblock content %}


{% block extra_javascript %}

<script src="{% static 'js/pages/addMember.js' %}"> </script>
{% comment %} <script>
    $(document).ready(function(){
        let disabled = true
        let email_exists = false
        let phone_number_exists = false
    });

</script>

<script>
$(document).ready(function(){
    $(document).on('change keyup', 'input[required]', function(e){
    $("input[required]").each(function() {
      let value = this.value
      if ((value)&&(value.trim() !='') )
          {
            if (phone_number_exists || email_exists) {
                Disabled = true
            }

            else {
                Disabled = false
            }
            
          } 
          
        else{
            Disabled = true
            return false
          }
    });

   if(Disabled){
        $('.add_user').prop("disabled", true);
      }else{
        $('.add_user').prop("disabled", false);
      }
 });
})

</script>


<script>
$(document).ready(function(){
    
   $('#othernames').on('change', function(){
    var othernames = $(this).val()
    var firstname = $('#firstname').val()
    if (firstname){
        $.ajax({
            type: 'POST',
            url:"{% url 'generate-username' %}",    
            headers : {'X-CSRFTOKEN': '{{ csrf_token }}' },
            data: {
                first_name:firstname,
                other_names : othernames
    
            },
    
            success: function(data){
                $('#username').val(data.username)
                $('#password').val(data.username)

               
                
            },
            error : function(xhr, errmsg, err){
                console.log(xhr.status + ' ' + xhr.responseText)
            }
        });
    }
    
    
   });

  
});
</script>



<script>
    $(document).ready(function(){
        
        $('#email').on('change', function(){
            $.ajax({
                type: 'POST',
                url:"{% url 'check_email' %}",    
                headers : {'X-CSRFTOKEN': '{{ csrf_token }}' },
                data: {
                    email:$(this).val()
                },
        
                success: function(data){
                    console.log(data)
                    if(data.exists){
                        $('#email').addClass('is-invalid')
                        $('#feedbackinvalid').css('display', 'block') 
                    }
                    else {
                        $('#email').addClass('is-valid')
                        $('#email').removeClass('is-invalid')
                        $('#feedbackinvalid').css('display', 'none')
                        email_exists = true
                        

                    };
                },
                   
                error : function(xhr, errmsg, err){
                    console.log(xhr.status + ' ' + xhr.responseText)
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function(){
      
    });

</script>

<script>
    $(document).ready(function(){
    $('#phone_number').on('focus', function(){
        $('#phone_number').removeClass('is-valid')
        $('#phone_number').removeClass('is-invalid') 
        $('#phone-invalid').css('display', 'none') 

    })
});
</script>

<script>
    $(document).ready(function(){
    $('#email').on('focus', function(){
        $('#email').removeClass('is-valid')
        $('#email').removeClass('is-invalid') 
        $('#feedbackinvalid').css('display', 'none') 

    })
});
</script> {% endcomment %}






{% endblock extra_javascript%}



