{% extends 'dashboard/relatedTable.html' %}
{% load static %}


{% block title %}
News (203)
{% endblock title %}

{% block description %}
Find all posted news
{% endblock description%}


{% block row1 %}
#
{% endblock row1 %}


{% block row2 %}
Title
{% endblock row2 %}

{% block row3 %}
Description
{% endblock row3 %}

{% block row4 %}
Date
{% endblock row4 %}

{% block row5 %}
Action
{% endblock row5 %}

{% block add %}

Announcement

{% endblock add%}


{% block tablebody %}
<tr>
    <td scope="row">1</td>
    <td>Mark</td>
    <td>Otto</td>
  
    <td>@mdo</td>
    <td>
        
        <div class="btn-group" style="position: absolute; width:11.5%; margin-top:-2px">
            <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle" 
            data-bs-boundary="window" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"></button> 
            <div class="dropdown-menu mx-n4 mt-n2">
                <a class="dropdown-item" href="#">View Detail</a>
                <a class="dropdown-item" href="#">Edit News</a>
                {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"> Delete News</a>
            </div>
        </div> 
    </td>
    
</tr>

<tr>
    <th scope="row">1</th>
    <td>Mark</td>
  
    <td>@mdo</td>
    <td>@mdo</td>
    <td>
        
        <div class="btn-group" style="position: absolute; width:11.5%; margin-top:-2px">
            <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle" 
            data-bs-boundary="window" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"></button> 
            <div class="dropdown-menu mx-n4 mt-n2">
                <a class="dropdown-item" href="#">View Detail</a>
                <a class="dropdown-item" href="#">Edit News</a>
                {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"> Delete News</a>
            </div>
        </div> 
    </td>
    
</tr>
{% endblock tablebody%}


<div class="col-sm-6 col-md-4 col-xl-3">
    <div class="my-4 text-center">
        <p class="text-muted">Standard modal</p>
        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Standard modal</button>
    </div>

    <!-- sample modal content -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Modal Heading</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Overflowing text to show scroll behavior</h5>
                    <p>Cras mattis consectetur purus sit amet fermentum.
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac
                        consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur.
                        Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec
                        ullamcorper nulla non metus auctor
                        fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum.
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac
                        consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur.
                        Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec
                        ullamcorper nulla non metus auctor
                        fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum.
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac
                        consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur.
                        Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec
                        ullamcorper nulla non metus auctor
                        fringilla.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>