{% extends 'partials/base.html' %}
{% load static %}




{% block content %}
<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-n4">Nominations</h4>
                <div class="d-flex justify-content-end align-items-center ">
                
                    <button type="button" class="btn btn-primary waves-effect waves-light mx-2">Add Nomination</button>
                    {% comment %} <button type="button" class="btn btn-primary waves-effect waves-light">View All</button> {% endcomment %}
                </div>
                <hr>
                {% comment %} <h4 class="card-title mb-4">Users</h4> {% endcomment %}
                <div class="table-responsive">
                    <table class="table table-centered  align-items-center  dt-responsive nowrap" data-bs-page-length="5" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-light">
                            <tr>
                                
                                <th class="text-center"> Name </th>
                                {% comment %} <th>Date </th> {% endcomment %}
                                <th class="text-center">Position</th>
                                {% comment %} <th class="text-center">Phone Number</th> {% endcomment %}
                                <th class="text-center">Region/Zone</th>
                                <th class="text-center"> Status</th>
                                <th style="width: 120px;">Approve / Decline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td class="text-center"><a href="javascript: void(0);" class="text-dark fw-bold text-center">#NZ1572</a> 
                                </td>
                                {% comment %} <td>04 Apr, 2020</td> {% endcomment %}
                                <td class="text-center"> Walter Brown</td>
                                {% comment %} <td class="text-center">$172</td> {% endcomment %}
                                <td class="text-center">
                                    <div class="font-size-12">Accra Zone</div>
                                </td>
                                <td class="text-center">
                                    <div class="font-size-12">Pending Approval</div>
                                </td>

                                <td class="text-center">
                                    <button type="button" class="btn mb-2 btn-outline-success waves-effect waves-light">Approve</button>
                                    <button type="button" class="btn btn-outline-danger waves-effect waves-light">Decline</button>

                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title fw-bold">Available Positions</h4>
                    <button type="button" class="btn btn-primary waves-effect waves-light mx-2">Add Position</button>

                </div>
                <hr>
                <div data-simplebar style="max-height: 330px;">
                    <ul class="list-unstyled ">
                        <li class="activity-list">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="font-size-15"> President </h5>
                                    <div class="btn-group">
                                        <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle mx-5" 
                                        data-bs-boundary="window" 
                                        data-bs-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"></button> 
                                        <div class="dropdown-menu mx-n5 mt-n2">
                                            <a class="dropdown-item" href="#">Edit Position</a>
                                            {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                                            <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#"> Delete Position</a>
                                        </div>
                                    </div> 
                                </div>
                                
                            </div>
                        </li>
                        <hr>
                        <li class="activity-list">
                            <div>
                                <div class="d-flex justify-content-between" >
                                    <h5 class="font-size-15">Vice President </h5>
                                    <div class="btn-group">
                                        <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle mx-5" 
                                        data-bs-boundary="window" 
                                        data-bs-toggle="dropdown" 
                                        aria-haspopup="true" 
                                        aria-expanded="false"></button> 
                                        <div class="dropdown-menu mx-n5 mt-n2">
                                            <a class="dropdown-item" href="#">Edit Position</a>
                                            {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                                            <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#"> Delete Position</a>
                                        </div>
                                    </div> 
                                </div>
                                
                            </div>
                        </li>
                        <hr>

                        <li class="activity-list">
                            <div>
                                <div>
                                    <h5 class="font-size-15">Secretary</h5>
                                </div>
                                
                            </div>
                        </li>
                        <hr>


                        <li class="activity-list">
                            <div>
                                <div>
                                    <h5 class="font-size-15">Financial Secretary </h5>
                                </div>
                                
                            </div>
                        </li>
                        <hr>

                        <li class="activity-list">
                            <div>
                                <div>
                                    <h5 class="font-size-15">Treasure</h5>
                                </div>
                                
                            </div>
                        </li>
                        <hr>

                        <li class="activity-list">
                            <div>
                                <div>
                                    <h5 class="font-size-15">Organizer</h5>
                                </div>
                                
                            </div>
                        </li>
                        <hr>

                        <li class="activity-list">
                            <div>
                                <div>
                                    <h5 class="font-size-15">P.R.O</h5>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}