{% extends 'partials/base.html' %}
{% load static %}


{% block content %}   
<a href="{% url 'add-annoucement' %}"> Add
{% comment %} <button  type="button" class="btn btn-primary mb-3 mt-n5">Add {% block add %} {% endblock add%} <i class="mdi mdi-plus"></i></button> {% endcomment %}
</a>

<div class="row mb-5 pb-5">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between"> 
                    <h4 class="card-title">{% block title %}  {% endblock title %}</h4>
					{% comment %} <button type="button" class="btn btn-primary waves-effect waves-light mx-5">Add </button> {% endcomment %}
                    
                </div>
                <p class="card-title-desc">{% block description %} {% endblock description%}</p> 
                   
                
                <div class="table-responsive">
                    <table class="table table-hover mb-0">

                        <thead>
                            <tr>
                                <th>{% block row1 %} {% endblock row1%}</th>
                                <th>{% block row2 %} {% endblock row2 %}</th>
                                <th>{% block row3 %} {% endblock row3 %}</th>
                                <th>{% block row4 %} {% endblock row4 %}</th>
                                <th>{% block row5 %} {% endblock row5 %}</th>
                              
                              
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% block tablebody %}

                            {% endblock tablebody %}
                          
                            
                        </tbody>
                    </table>
                    
                </div>

            </div>
        </div>
    </div>
    
    
</div>                  
{% endblock content %}	






{% extends 'dashboard/relatedTable.html' %}
{% load static %}


{% block title %}
News (203)
{% endblock title %}

{% block description %}
Find all posted news
{% endblock description%}


{% block row1 %}
#
{% endblock row1 %}


{% block row2 %}
Title
{% endblock row2 %}

{% block row3 %}
Description
{% endblock row3 %}

{% block row4 %}
Date
{% endblock row4 %}

{% block row5 %}
Action
{% endblock row5 %}

{% block add %}

Announcement

{% endblock add%}


{% block tablebody %}
<tr>
    <td scope="row">1</td>
    <td>Mark</td>
    <td>Otto</td>
  
    <td>@mdo</td>
    <td>
        
        <div class="btn-group" style="position: absolute; width:11.5%; margin-top:-2px">
            <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle" 
            data-bs-boundary="window" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"></button> 
            <div class="dropdown-menu mx-n4 mt-n2">
                <a class="dropdown-item" href="#">View Detail</a>
                <a class="dropdown-item" href="#">Edit News</a>
                {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"> Delete News</a>
            </div>
        </div> 
    </td>
    
</tr>

<tr>
    <th scope="row">1</th>
    <td>Mark</td>
  
    <td>@mdo</td>
    <td>@mdo</td>
    <td>
        
        <div class="btn-group" style="position: absolute; width:11.5%; margin-top:-2px">
            <button style="outline:none; border:none;" class="ri-more-2-fill dropdown-toggle" 
            data-bs-boundary="window" 
            data-bs-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"></button> 
            <div class="dropdown-menu mx-n4 mt-n2">
                <a class="dropdown-item" href="#">View Detail</a>
                <a class="dropdown-item" href="#">Edit News</a>
                {% comment %} <a class="dropdown-item text-warning text-black" href="#"> <b> Make Executive </b></a>
                <a class="dropdown-item text-success text-black" href="#"> <b> Make Admin </b></a> {% endcomment %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"> Delete News</a>
            </div>
        </div> 
    </td>
    
</tr>
{% endblock tablebody%}


