{% extends 'partials/members-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}



{% block content %}
<div class="row">   
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">User Information</h5>

                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.first_name class="form-control" id="floatingfnameInput" %}
                                {% comment %} <input type="name" class="form-control" id="floatingfnameInput" placeholder="Enter Email address" > {% endcomment %}
                                <label for="floatingfnameInput">{{form.first_name.label}}</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.other_names class="form-control" id="floatingfnameInput" %}

                                <label for="floatingemailInput">{{form.other_names.label}}</label>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingemailInput" value={{request.user.email}} disabled >
                                <label for="floatingemailInput">Email</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.date_of_birth class="form-control" id="floatingdateInput" type="date"%}

                                <label for="floatingdateInput">{{form.date_of_birth.label}}</label>
                            </div>
                            
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.phone_number class="form-control" id="floatingphoneNumberInput" %}
                                <label for="floatingphoneNumber">{{form.phone_number.label}}</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.whatsapp_number class="form-control" id="floatingwhatsapp" %}
                                <label for="floatingwhatsapp">{{form.whatsapp_number.label}}</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.company_name class="form-control" id="floatingfnameInput" %}
                                {% comment %} <input type="name" class="form-control" id="floatingfnameInput" placeholder="Enter Email address" > {% endcomment %}
                                <label for="floatingfnameInput">{{form.company_name.label}}</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.drilling_license class="form-control" id="floatingfnameInput" %}

                                <label for="floatingemailInput">{{form.drilling_license.label}}</label>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.region_or_zone class="form-control" id="floatingfnameInput" %}
                                <label for="floatingdateInput">{{form.region_or_zone.label}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.field class="form-control" id="floatingfnameInput" %}
                                <label for="floatingdateInput">{{form.field.label}}</label>
                            </div>
                            
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.profession class="form-control" id="floatingphoneNumberInput" %}
                                <label for="floatingphoneNumber">{{form.profession.label}}</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.education class="form-control" id="floatingwhatsapp" %}
                                <label for="floatingwhatsapp">{{form.education.label}}</label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.referee class="form-control" id="floatingphoneNumberInput" %}
                                <label for="floatingphoneNumber">{{form.referee.label}}</label>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {% render_field form.referee_contact class="form-control" id="floatingwhatsapp" %}
                                <label for="floatingwhatsapp">{{form.referee_contact.label}}</label>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- end card body -->
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="card-body pb-3 text-center">
                    <img src="{{request.user.}}" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                    <h5 class="fw-normal mb-0"> 
                        <!-- <input name="images" onchange="readURL(this);" type="file" accept="image/*"/> -->
                        {{ user.first_name}} {{ user.other_names}}
                        {% if user.verified == True %}
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" clip-rule="evenodd"/></svg>
                    {% else %} <span class = "text-small text-danger" style = 'font-size:12px;'>unverified</span> {% endif %}
                    </h5>
                  
                    <p class="">
                        {{ user.email }} 
                    </p>
                    <hr>
                    {% if not user.verified == True %}
                    <!-- <button class="btn btn-gray-800" id="basicAlert">Update Project </button> -->
                    
                    <a href = "" class="font-size-20 text-primary fw-bold" id="">Verify Account</a> <hr>{% endif %} 
                    <a  class="font-size-20 text-primary fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#modal-default{{user.id}}"><span></span>Change Email</a>
                    <hr>
                    <a href = "#" class="font-size-20 text-primary fw-bold"> Change Password </a>
                    <hr>
                    <a href = "#" data-bs-toggle="modal" data-bs-target="#modal-supervisor" class="font-size-20 text-primary fw-bold"> Delete Account </a>
                    

                <hr>
               
            </div>
        </div>
    </div>
</div>
                         
                        <!-- end row -->

{% endblock %}
