{% extends 'partials/members-base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block extra_css %}
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel ="stylesheet" type='text/css' />
{% endblock extra_css%}


{% block content %}  

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <input type='hidden' class='success-message' value = '{{message}}'/>    
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row mb-5 pb-5">
    
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="img-thumbnail rounded-circle avatar-xl" src="{% static 'images/login/back.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Eshun Kwame John </h4>
                    <p class="card-text text-center"> President</p>
                </div>
                <hr class="mt-n3">
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item mt-n3">Email : something@somethingemail.com</li>
                    <li class="list-group-item">Phone Number : +233546649873</li>
                </ul>
                
            </div>
        </div>

    
</div>    


{% endblock content %}	

{% block extra_javascript %}
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"> </script>
<script src='{% static 'js/memberdues.js' %}'> </script>
{% endblock extra_javascript %}