{% extends 'account/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %} 
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel ="stylesheet" type='text/css' />
{%endblock extra_css %}
{% block title %}Email Verification{% endblock title %}
{% block content %}

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-3 text-muted">
                        <a href="{% url 'member-dashboard' %}" class="d-block auth-logo">
                            <img src="{% static 'images/login/logo.png' %}" alt="" height="100">
                                {% comment %} <img src="{% static 'images/logo-light.png' %}" alt="" height="20" class="auth-logo-light mx-auto"> {% endcomment %}
                        </a>

                    </div>
                </div>
            </div> 
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        
                        <div class="card-body"> 
                            
                            <div class="">
                                <div class="text-center">
                                    <div class="p-2 mt-4">
                                        <img class ="img-fluid"  src="{% static 'images/login/email.png' %}">
                                        <h4>Verify your Email</h4>
                                        <p>We have sent a verification email to <span class="fw-bold">{{request.user.email}}</span>, Please check your mail box and verify your email</p>
                                        {% comment %} <div class="mt-4">
                                            <a href="{% url 'member-dashboard' %}" class="btn btn-success w-md">Verify email</a>
                                        </div> {% endcomment %}
                                        <div class="mt-5 text-center">
                                            
                                            <p>Didn't receive an email? <a href="#" class="fw-medium text-primary fw-bolder" id="resend-email"> Resend Email</a> | <a id="email" href="#" class="fw-medium text-primary fw-bolder" data-bs-toggle="modal" data-bs-target="#email-modal"> Change Email</a> </p>
                                            {% comment %} <p>© <script>document.write(new Date().getFullYear())</script> Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="email-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header py-3 px-4">
                        <h5 class="modal-title" id="modal-title">Change Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="">Enter a <span class="fw-bolder" >valid and active </span> email address
                                        </div>
                                    </div>
                                </div> <!-- end col-->
                                <div class="col-12s d-flex justify-content-center">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="modal-email" required>
                                        <p class="invalid-feedback mt-0" id="feedbackinvalid">
                                        
                                        </p>
                                    </div>
                                    
                                </div> <!-- end col-->
                            </div> <!-- end row-->
                            <div class="row mt-2">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn font-16 btn-primary waves-effect waves-light"
                                    id="send-verification-email">
                                    Send Verifcation Email
                                    </button>
                                </div> <!-- end col-->
                            </div> 
                        </form>
                        </div>
                    </div>
                <!-- end modal-content-->
            </div>
                            <!-- end modal dialog-->
            </div>
{% endblock content %}

{% block extra_javascript%}
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}">  </script>
<script >

    function IsEmail(email) {
        let regex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        return regex.test(email);
      }
    //first check if a value provided is email and not empty and then check if email exist already by sending a jqiery ajax to 'check_email' and if it does throw and error else send verification email
    $(document).on('click', '#send-verification-email', function(event){
        event.preventDefault()
        const email = $('#modal-email')
        console.log('check email')
        if(!IsEmail(email.val()) || email.val() == ''){
            $('#modal-email').addClass('is-invalid')
            $('#feedbackinvalid').text('Please enter a valid email.')
            $('#feedbackinvalid').css('display', 'block')
        }
        
        else {
            $.ajax({
                type: 'POST',
                url: "/check-email" ,    
                headers : {'X-CSRFTOKEN': '{{ csrf_token }}'},
                data: {
                    email:email.val(),
                
                },
        
                success: function(data){
                    console.log(data)
                    if(data.exists){
                        $('#email').addClass('is-invalid')
                        $('#feedbackinvalid').text('This email belongs to another user')
                        $('#feedbackinvalid').css('display', 'block') 
                        
                    }
                    else {
                        $('#email').addClass('is-valid')
                        $('#email').removeClass('is-invalid')
                        $('#feedbackinvalid').css('display', 'none')
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'send-verification-email' %}",
                            headers : {'X-CSRFTOKEN': '{{ csrf_token }}'},
                            data : {
                                email : email.val(),
                                new_email: true,
                            },
                            success : function(response){
                                console.log(response)
                                if(response.success){ 
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Verification Email sent successfully!',
                                        text: `A  new verification email has been sent to ${email.val()}, please check your inbox`,
                                        confirmButtonColor: "#5664d2"
                            
                                    }).then(function(){
                                        location.reload()
                                    })
                                    $('#email-modal').modal('hide')
                                    email.val('')

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'An error occured!',
                                        text: 'An error occured while trying to send the verification email, please try again later or contact support',
                                        confirmButtonColor: "#5664d2"
                            
                                    })
                                }
                                
                            },
                            error : function(xhr, errmsg, err){
                                    console.log(xhr.status + ' ' + xhr.responseText)
                                    
                            }
                        })


                        
                    };
                },   
                error : function(xhr, errmsg, err){
                    console.log(xhr.status + ' ' + xhr.responseText)
                }
            });
        }
        
    });


    $(document).on('click', '#resend-email', function(event){
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: "{% url 'send-verification-email' %}",
            headers : {'X-CSRFTOKEN': '{{ csrf_token }}'},
            data : {
                email : '{{ request.user.email }}',
                resend : true
            },
            success : function(response){
                console.log(response)
                if(response.success){ 
                    Swal.fire({
                        icon: 'success',
                        title: 'Verification Email sent successfully!',
                        text: `A new verification email has been sent to {{ request.user.email }}, please check your inbox`,
                        confirmButtonColor: "#5664d2"
            
                    })

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'An error occured!',
                        text: 'An error occured while trying to send the verification email, please try again later or contact support',
                        confirmButtonColor: "#5664d2"
            
                    })
                }
                
                
                
            },
            error : function(xhr, errmsg, err){
                    console.log(xhr.status + ' ' + xhr.responseText)
                    
            }
        })
    })
</script>

{% endblock extra_javascript %}