{% extends "account/base.html" %}

{% load i18n %}

{% comment %} {% block head_title %}{% translate "Sign In" %}{% endblock %} {% endcomment %}

{% block content %}

<div class="page-content">
  <div class="form-v2-content">
    <div class="form-left">
      <img src="{% static 'images/login/back.png' %}" alt="form">
      <div class="text-1">
        <p>Ghana Borehole Drillers Association</p>
      </div>
      <!-- <div class="text-2">
        <p><span>Association</span></p>
      </div> -->
    </div>
    <div class="form-detail" >
      <div class="form-items">
        <div class="login">
          <img class="log-logo" src="{% static 'mages/login/logo.png' %}" alt="gbda-logo">
          <h2>Log in to your account</h2>
        </div>
        
        <form action="#" method="post" id="myform">
          <div class="form-row">
            <input type="text" name="full-name" id="full-name" class="input-text" placeholder="User ID" required>
          </div>
          <div class="form-row">
            <input type="password" name="your-email" id="your-email" class="input-text" placeholder="Password" required>
          </div>
          <div class="form-checkbox">
            <label class="container"><p>Remember Me</p>
              <input type="checkbox" name="agree" id="agree">
              <span class="checkmark"></span>
            </label>

            <a href="#"> Forget Password?</a>
          </div>
          <div class="form-row-last">
            <input type="button" name="register" class="register" value="Log in">
          </div>
          <div class="form-row-create-account">
            <p> Not Registered? <a href="#"> <b>Create an account</b></a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
