{% extends "account/base2.html" %}
{% load static %}
{% block content %}

<main>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <img class="img-fluid w-sm-50 w-25 " src="{% static 'images/login/pending.svg' %}" alt="404 not found">
                        <h1 class="mt-5">
                            Account Pending <span class="fw-bolder text-primary">Approval</span>
                        </h1>
                        <p class="lead my-4 mb-0">
                            You account has been submitted to an admin for  approval
                        </p>
                        <p class="lead">
                        You will recieve an <span class="fw-bolder text-primary"> email</span> when your account is approved. Please check back later
                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-primary animate-hover m-2" href="#">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>LOGOUT</a>
                        <a class="btn btn-primary animate-hover m-2" href="#">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>FAQs</a>
                        <a class="btn btn-primary animate-hover m-2">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i> CONTACT ADMIN</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}
