{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css%}
<style>
.log-logo{
  margin-top: -30px;
  width:20%;
}

.form-items{
  margin-top: -30px
}

</style>
{% endblock extra_css%}

{% block content %}
<div class="form-detail" >
  <div class="form-items">
    <div class="login">
      <img class="log-logo" src="{% static 'images/login/logo.png' %}" alt="gbda-logo">
      <h2>GBDA Member Registration</h2>
   
    </div>
    
    <form action="#" method="post" id="myform">
      {% csrf_token %}
      <div class="form-row">
        {{form.first_name}}
        {% comment %} <span class="error-message">{{ form.first_name.errors}}</span> {% endcomment %}
      </div>
      <div class="form-row">
        {{form.other_names}}
        {% comment %} <p class="error-message">{{ form.last_name.errors}}</p> {% endcomment %}
      </div>
      <div class="form-row">
        {{form.email}}
        <p class="error-message">{{ form.email.errors}}</p>
      </div>
      <div class="form-row">
        {{form.phone_number}}
        <p class="error-message">{{ form.phone_number.errors}}</p>
      </div>
      <div class="form-row">
        {{form.password1}}
      </div>
      <div class="form-row">
        {{form.password2}}
        <p class="error-message">{{ form.password2.errors}}</p>
      </div>
      
      <!-- <div class="form-row">
        <label for="comfirm-password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="input-text" required>
      </div> -->
      <div class="form-checkbox">
        <label class="container"><p>By signing up, you agree to the <a href="#">GBDA Terms of Service</a></p>
          <input class='checkinput' type="checkbox" name="agree" id="agree" required>
          <span class="checkmark"></span>
        </label>

        <!-- <a href="#"> Forget Password?</a> -->
      </div>
      <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Sign Up">
      </div>
      <div class="form-row-create-account">
        <p> Already have an account? <a href="login"> <b>Login</b></a></p>
      </div>

    </form>
  </div>
</div>

  {% endblock content %}

  {% block js %}

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<script> $(document).ready(function(){
  //Hide form errors on form input
  $('.input-text').on('focus', function(){
    $('.errorlist').hide();
    });
  });

</script>
{% endblock js %}